/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container-fluid {
    position: relative;
    min-height: 80vh;
    background-color: #F5F5F5;
    margin: 0px ;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
footer {
    margin-top: auto;
    width: 100%;
    background-color:#444444;
    text-align: center;
    
    color: white;
   
}

ul li {
  line-height: 1.5;
  padding: 0 0;
  font-size: 20px;
}

 .card{
  margin-top: 10px;
 }
 
  .card-header{
  background-color: #CCCCCC;
  
 }
 
 .card-body{
  padding:5px;
 }
 
 .tb{
    overflow:auto;
    min-height: 85vh;
    background-color: #EEEEEE;
    position: relative;
    
    padding:5px;
    border:3px;
    border-style: inset;
    color:#000;
    font-size:16px;
    margin-top: 3px
  }
  
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
  .box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #111111;/*文字色*/
    background: #DDDDDD;/*背景色 background: #FFF;*/
    
    border: solid 2px #2F4F4F;/*線*/
    border-radius: 5px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}
