<header class="mb-0">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
   <a class="navbar-brand" href="/">EC Study</a>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
       <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
       
      <ul class="navbar-nav">
       
      </ul>
    </div>
    </div>
  </nav>
</header>